# vim temp files
*.*~

# macOS specific
**/.DS_Store
static/.DS_Store

# Python
__pycache__/
bin
lib

# IDE files
.idea/

# project files
ceopardy*db
ceopardy.log

# sound files (not provided)
/static/sounds/reveal.mp3
/static/sounds/thinking-music.wav
/static/sounds/timeout.mp3

# node specifc
node_modules

# omit questions
data/questions.json
